# 特定の拡張子を無視する場合はどこにも/を付けない
*.opendb
*.sdf
*.bin
*.suo
*.obj
*.db
*.exe
*.pdb
*.ilk
*.exe

# 特定のファイルを無視する場合は先頭に/を付ける
/Thumbs.db
/.DS_Store

# 特定のディレクトリを無視する場合は先頭と末尾に/を付ける
/x64/
/DirectX9_ProjectMS/Debug/
/DirectX9_ProjectMS/Release/